<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../css/webpageCss/same.css">
    <link rel="stylesheet" href="../css/webpageCss/about.css">
</head>
<body>
    <%- include('../webpageViews/navbar.ejs') %>
    <div class="all">
        <div class="about-section-1">
            <h1 class="about-keep"><span class="blue">K</span>eep<span class="blue">C</span>oding.in</h1>
            <h1 class="quote">We bring wealth of skills and experience from a wide range of programming background</h1>
            <p>Our philosophy is simple;hire great people and give them the resource and support to their best work.</p>
        </div>
    </div>
</body>
</html>