<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/webpageCss/same.css">
    <link rel="stylesheet" href="../css/webpageCss/home.css">

</head>

<body>
    <%- include('../webpageViews/navbar.ejs') %>
    <div class="all">
        <div class="quotes-container">
            <div class="quotes">
                <h6>UPGRADE YOUR SKILL</h6>
                <h1>Explore live</h1>
                <h1>creative classes</h1>
                <p>Join a programming community, get peer insights, and build</p>
                <p>amazing software applications and startup's</p>
                <div class="class-btn">
                    <button class="start">Start learning</button>
                    <button class="demo">Try Demo</button>
                </div>
            </div>
            <img src="../images/homeImages/3d-rendering-cartoon-like-woman-working-computer-removebg-preview.png" alt="">
        </div>
        <h1 class="heading"><span class="blue">K</span>eep <span class="blue">C</span>oding Is Now Offering!</h1>
        <div class="section">
            <img src="../images/homeImages/8200076-removebg-preview.png" alt="">

            <div class="sec-content">
                <h1>PYTHON FULL STACK WEB DEV</h1>
                <p>The Python full-stack, often using Django or Flask with a JavaScript front end like React or Angular, enables efficient end-to-end web development. It combines Python's simplicity and power with modern front-end frameworks. Ideal for building scalable, robust web applications.</p>
                <div class="btn-flex">
                    <a href="/roadmap"><button>View Roadmap</button></a>
                    <a href="/courses"><button>Buy Courses</button></a>
                </div>
            </div>

        </div>
        <div class="section-2">
            <div class="sec-content">
                <h1>MERN STACK WEB DEV</h1>
                <p>The MERN stack (MongoDB, Express.js, React, Node.js) enables efficient full-stack web development using JavaScript. It streamlines development and enhances scalability. Ideal for building dynamic, modern applications.</p>
                <div class="btn-flex">
                    <a href="/roadmap"><button>View Roadmap</button></a>
                    <a href="/courses"><button>Buy Courses</button></a>
                </div>
            </div>
            <img src="../images/homeImages/js-removebg-preview.png" alt="">

        </div>
        <div class="section">
            <img src="../images/homeImages/13677075_5047690-removebg-preview.png" alt="">

            <div class="sec-content">
                <h1>AWS & DEVOPS</h1>
                <p>AWS and DevOps together enable efficient cloud infrastructure management and continuous delivery. AWS provides scalable cloud services, while DevOps practices automate deployment and operations. Ideal for building, deploying, and maintaining robust, scalable applications.</p>
                <div class="btn-flex">
                    <a href="/roadmap"><button>View Roadmap</button></a>
                    <a href="/courses"><button>Buy Courses</button></a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>